:root {
  --spacing: 20px;
  --blur: 2px;
  --base: #ffc600;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  transition: all 0.2s;
}

.controls {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}